files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDyDCCArACCQCc0LDbsnDPADANBgkqhkiG9w0BAQsFADCBpTELMAkGA1UEBhMC
      S0UxEDAOBgNVBAgMB05haXJvYmkxFTATBgNVBAcMDE5haXJvYmkgQ2l0eTEPMA0G
      A1UECgwGTnlhdHRhMQ8wDQYDVQQLDAZOeWF0dGExKTAnBgNVBAMMICouZXUtd2Vz
      dC0yLmVsYXN0aWNiZWFuc3RhbGsuY29tMSAwHgYJKoZIhvcNAQkBFhFsb21vbG9A
      bnlhdHRhLmFwcDAeFw0yMzA3MTgxNTE1MTFaFw0yNDA3MTcxNTE1MTFaMIGlMQsw
      CQYDVQQGEwJLRTEQMA4GA1UECAwHTmFpcm9iaTEVMBMGA1UEBwwMTmFpcm9iaSBD
      aXR5MQ8wDQYDVQQKDAZOeWF0dGExDzANBgNVBAsMBk55YXR0YTEpMCcGA1UEAwwg
      Ki5ldS13ZXN0LTIuZWxhc3RpY2JlYW5zdGFsay5jb20xIDAeBgkqhkiG9w0BCQEW
      EWxvbW9sb0BueWF0dGEuYXBwMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
      AQEApAzhtNCkHEQ1qNjeNVXM7TQgskXP5uKNT73AqYh+HSNlpZR90Fe2xXEX3a31
      Xzpekg3/u7bxSrTX8KCAi4mVb1/kTDZHr3iF6VrU4O9Mwn4TSoZLuDpN+FQ5ALpY
      Q7MRFfDftKzlq1ENR2IRcTbvQS4lx0PxTppBgi4cYBtXr25XNAX7FhgpV+XdL7FF
      +FVaKSF+VCPPqAkFgvJ9JQcysJWBnexTV3Ogoq6o/QoGAKq6MAoOhEfWkatCIV2t
      BU9pFRBDLSf5nE+pIEoIlRPjcZf/9wXQDOtniWltsBAZEHJJncG88mhKI6mnOdEb
      xZOhFcftuVCyp2csPRUXex7mBQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQB8d+6t
      /YDDrYURAMRIjfKqt7asetV+b8t3m6F8b7a3UFggEXf38yNIgdCoT+aC8RwMBmN4
      rKt8PBecSWnSeV6sKvH6UFxyFnhoKmLWpogo3GieULhPu/fh1XH8TZTEjo0dHF1I
      2pN7Hv5QeCiw+fPbRpJSYkmbMNr+eHqSg7Gz8RgmSLQ36XTaKFtqkdy3jXjnlRPa
      uPCPGngrsTFOxw30FFZOD3nWi4o0gdKZ75EfZZbHqTzdreJ7e86xBi54mW07pz+i
      P3cSxlxJJ4A9Mm+8aJTQPXNzVe/j+XOPZv+f1TKiKVgtwM9ScoywrzSvVUPvFOJP
      hL5KBO9D1oqGrTcM
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEApAzhtNCkHEQ1qNjeNVXM7TQgskXP5uKNT73AqYh+HSNlpZR9
      0Fe2xXEX3a31Xzpekg3/u7bxSrTX8KCAi4mVb1/kTDZHr3iF6VrU4O9Mwn4TSoZL
      uDpN+FQ5ALpYQ7MRFfDftKzlq1ENR2IRcTbvQS4lx0PxTppBgi4cYBtXr25XNAX7
      FhgpV+XdL7FF+FVaKSF+VCPPqAkFgvJ9JQcysJWBnexTV3Ogoq6o/QoGAKq6MAoO
      hEfWkatCIV2tBU9pFRBDLSf5nE+pIEoIlRPjcZf/9wXQDOtniWltsBAZEHJJncG8
      8mhKI6mnOdEbxZOhFcftuVCyp2csPRUXex7mBQIDAQABAoIBAQCTsxlfj13CKVNa
      ku71fCuGASHS//HgAWeTPNeCi+Zn25+/xYLFGsPu3hTLvLynoUjWHQ57dommZk3p
      UsiJWTUW0nIcf95oyI1gfSwe3LTyg0phFaqE0tGyXDn6QswHH+ipJXZ0GBqr9MyM
      0Wm80eX1fFP9JVnUGCQUzek0SknXIoKZb2/sydNzE/8AQ5mr/NsJrQcIVyOeUHnv
      WnyZuzcquMYFRCAfQdfVwN4QJ4+LVPbO7GQMvWtlhB/nbX3VhlwH/GdmY0NUQyQo
      7IW6CiDp6150FWlB9sAyoxQX27fLpEggBIgX3e3V2AscQogI3p/je+QPk3Nf7jAE
      FmIW4tx9AoGBANePc8cdBYN/Q0NIBBvpnfxuPHwfTZyxTRYv9IdWgh73K0RzxFd4
      hgnMi6pplxxJo8Lvhsml6OmRTd+looPdI9veiJY6ys9LyHZF+Xu08KXEe8RM6ahM
      vvxvjm84E73nYBRKHAiyRYxhfRsGDQPLFhJCltVAEmWsLYXaIuCY2on3AoGBAMLT
      mOIHTfkYk2PA69psinc3lO1/IEbauT5sFs7A/0ZLoqEH3y8/PbxtkHi1OOgvExHo
      sI0flR5sQVVvSUZ7RoSd4NUbGcQhFDgbSE72B+u9wrrrH+2rAnwlTuWfKPIPbNw/
      1HlRQF718n4reNxdOc6g0A9i8wfAtBlS7AJoOfDjAoGBAL+imaQ/icJQpmSvJnAG
      LdzXx8/1KFOQUF7UPUkAQGf1BzMw1DGLRWZ6wQO8IYoVcZAAz8x/QeQ7uIaGQ0eF
      lraGTNl55QmLbuiu5s/ymSpV1k46rlNf/z5+kpsPuIVQqFsBU5Dro+bcWJNourNP
      ngyXxG5LKs/W1RW1SuJvIYIbAoGAAnYh7FkjRw5kblI1qKDObwsouodspPiGdp9u
      +lW94+l4uIgc7b/iy8qmlJ/VhDl0CDnkYSQRAj1j5exuBJHyJiLIgGjDPpMcakkN
      9NFu8C+Jkkr+MEaE1YSzJnuITOac/Xtg99dq9MgutCFgeYhD/rRRbKBXabWpkNhX
      WwBuGvkCgYEAoH2I/u7+Spg8Kyg35N3rPFM+mKaULyBK9N0BrW7A0p22CeFob7ib
      2jVg/sQTDhWuKeY/1hsuhJFpvf4soIrKE0+Hx+fwtaomfM5owkEcvq/K1UEpamVd
      i/Nnvu4+PAkY99mCvEE+m0+q/0T70zSRhgh/rykJzvBcBBd2iawKxpo=
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"
