files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIID4jCCAsoCCQCbCS096slm9zANBgkqhkiG9w0BAQsFADCBsjELMAkGA1UEBhMC
      S0UxEDAOBgNVBAgMB05haXJvYmkxFTATBgNVBAcMDE5haXJvYmkgQ2l0eTEPMA0G
      A1UECgwGTnlhdHRhMQ8wDQYDVQQLDAZOeWF0dGExNjA0BgNVBAMMLW55YXR0YS1z
      dGFnaW5nLmV1LXdlc3QtMi5lbGFzdGljYmVhbnN0YWxrLmNvbTEgMB4GCSqGSIb3
      DQEJARYRbG9tb2xvQG55YXR0YS5hcHAwHhcNMjMwNzE4MTQ0NTEzWhcNMjQwNzE3
      MTQ0NTEzWjCBsjELMAkGA1UEBhMCS0UxEDAOBgNVBAgMB05haXJvYmkxFTATBgNV
      BAcMDE5haXJvYmkgQ2l0eTEPMA0GA1UECgwGTnlhdHRhMQ8wDQYDVQQLDAZOeWF0
      dGExNjA0BgNVBAMMLW55YXR0YS1zdGFnaW5nLmV1LXdlc3QtMi5lbGFzdGljYmVh
      bnN0YWxrLmNvbTEgMB4GCSqGSIb3DQEJARYRbG9tb2xvQG55YXR0YS5hcHAwggEi
      MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCkDOG00KQcRDWo2N41VcztNCCy
      Rc/m4o1PvcCpiH4dI2WllH3QV7bFcRfdrfVfOl6SDf+7tvFKtNfwoICLiZVvX+RM
      NkeveIXpWtTg70zCfhNKhku4Ok34VDkAulhDsxEV8N+0rOWrUQ1HYhFxNu9BLiXH
      Q/FOmkGCLhxgG1evblc0BfsWGClX5d0vsUX4VVopIX5UI8+oCQWC8n0lBzKwlYGd
      7FNXc6Cirqj9CgYAqrowCg6ER9aRq0IhXa0FT2kVEEMtJ/mcT6kgSgiVE+Nxl//3
      BdAM62eJaW2wEBkQckmdwbzyaEojqac50RvFk6EVx+25ULKnZyw9FRd7HuYFAgMB
      AAEwDQYJKoZIhvcNAQELBQADggEBAFDozc2cJao1SBxlM7pu6HW4AXHEQ0wK9xWy
      zKNtmAZ+UIbI5wmHlOAnLmI5+j4tkUqoY8mHH1qdCM7cRwvw6lKombzOxyD/+PfQ
      PE0n8b0NFXaYmXocu32IN85S1DHi+23IKaJ8SGXDrgUuJ91e1DFYpfC99Q97nBF4
      HRC79V2dkQmGgRruZLn5qTdwsnqYw/l5eKNXN7v1ueSGkyeHDbAEkyNlVAueENhK
      7F3YAOFjoOWoAukM3EHCnyCagnbSeNVyJAt347rNAalFlQdLgLoOSMoeFat74Dl2
      TbZR1lsxzsaHhDaX4R4qDnQqFkdL9yZpYRmiQflMx85jBjGK0bE=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEApAzhtNCkHEQ1qNjeNVXM7TQgskXP5uKNT73AqYh+HSNlpZR9
      0Fe2xXEX3a31Xzpekg3/u7bxSrTX8KCAi4mVb1/kTDZHr3iF6VrU4O9Mwn4TSoZL
      uDpN+FQ5ALpYQ7MRFfDftKzlq1ENR2IRcTbvQS4lx0PxTppBgi4cYBtXr25XNAX7
      FhgpV+XdL7FF+FVaKSF+VCPPqAkFgvJ9JQcysJWBnexTV3Ogoq6o/QoGAKq6MAoO
      hEfWkatCIV2tBU9pFRBDLSf5nE+pIEoIlRPjcZf/9wXQDOtniWltsBAZEHJJncG8
      8mhKI6mnOdEbxZOhFcftuVCyp2csPRUXex7mBQIDAQABAoIBAQCTsxlfj13CKVNa
      ku71fCuGASHS//HgAWeTPNeCi+Zn25+/xYLFGsPu3hTLvLynoUjWHQ57dommZk3p
      UsiJWTUW0nIcf95oyI1gfSwe3LTyg0phFaqE0tGyXDn6QswHH+ipJXZ0GBqr9MyM
      0Wm80eX1fFP9JVnUGCQUzek0SknXIoKZb2/sydNzE/8AQ5mr/NsJrQcIVyOeUHnv
      WnyZuzcquMYFRCAfQdfVwN4QJ4+LVPbO7GQMvWtlhB/nbX3VhlwH/GdmY0NUQyQo
      7IW6CiDp6150FWlB9sAyoxQX27fLpEggBIgX3e3V2AscQogI3p/je+QPk3Nf7jAE
      FmIW4tx9AoGBANePc8cdBYN/Q0NIBBvpnfxuPHwfTZyxTRYv9IdWgh73K0RzxFd4
      hgnMi6pplxxJo8Lvhsml6OmRTd+looPdI9veiJY6ys9LyHZF+Xu08KXEe8RM6ahM
      vvxvjm84E73nYBRKHAiyRYxhfRsGDQPLFhJCltVAEmWsLYXaIuCY2on3AoGBAMLT
      mOIHTfkYk2PA69psinc3lO1/IEbauT5sFs7A/0ZLoqEH3y8/PbxtkHi1OOgvExHo
      sI0flR5sQVVvSUZ7RoSd4NUbGcQhFDgbSE72B+u9wrrrH+2rAnwlTuWfKPIPbNw/
      1HlRQF718n4reNxdOc6g0A9i8wfAtBlS7AJoOfDjAoGBAL+imaQ/icJQpmSvJnAG
      LdzXx8/1KFOQUF7UPUkAQGf1BzMw1DGLRWZ6wQO8IYoVcZAAz8x/QeQ7uIaGQ0eF
      lraGTNl55QmLbuiu5s/ymSpV1k46rlNf/z5+kpsPuIVQqFsBU5Dro+bcWJNourNP
      ngyXxG5LKs/W1RW1SuJvIYIbAoGAAnYh7FkjRw5kblI1qKDObwsouodspPiGdp9u
      +lW94+l4uIgc7b/iy8qmlJ/VhDl0CDnkYSQRAj1j5exuBJHyJiLIgGjDPpMcakkN
      9NFu8C+Jkkr+MEaE1YSzJnuITOac/Xtg99dq9MgutCFgeYhD/rRRbKBXabWpkNhX
      WwBuGvkCgYEAoH2I/u7+Spg8Kyg35N3rPFM+mKaULyBK9N0BrW7A0p22CeFob7ib
      2jVg/sQTDhWuKeY/1hsuhJFpvf4soIrKE0+Hx+fwtaomfM5owkEcvq/K1UEpamVd
      i/Nnvu4+PAkY99mCvEE+m0+q/0T70zSRhgh/rykJzvBcBBd2iawKxpo=
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"
